graft python/llguidance
graft python/rust
graft parser/src
include python/Cargo.lock
include python/Cargo.toml
include parser/Cargo.lock
include parser/Cargo.toml
global-exclude */__pycache__/*
global-exclude *.pyc
global-exclude *.so
global-exclude *.pyd
